<div class="content">
  <div class="content-main">
      <h1>Código Fuente</h1>
      <p>Se comparte el código fuente de la librería, el cliente web y proyectos de ejemplo de la implementación de la librería.</p>
  </div>
  <hr>
  <div class="content-home">
    <h2>Proyecto FancyReporting</h2>
    <p>El código fuente del proyecto esta en la siguiente ruta de github.</p>

    <a href="https://github.com/migueloscar/FancyReporting">https://github.com/migueloscar/FancyReporting</a>


    <h2>Cliente Web</h2>
    <p>El código fuente del cliente web que brinda la documentación y la generación del archivo de configuración.</p>
    <a href="https://github.com/migueloscar/cliente-fancyreporting">https://github.com/migueloscar/cliente-fancyreporting</a>

    <hr>
    
    <h2>Proyectos de ejemplo implementados con la librería FancyReporting</h2>
    <h3>Ejemplo básico - Aplicación de Escritorio</h3>
    <p>Proyecto básico de la implementación de la librería FancyReporting.</p>
    <a href="https://github.com/migueloscar/ejemplobasico-FancyReporting">https://github.com/migueloscar/ejemplobasico-FancyReporting</a>

    <h3>Ejemplos aplicaciones de escritorio y web</h3>
    <p>Proyectos de escritorio y web con interacciones con la base de datos y utilizando la librería FancyReporting para la generación de reportes.</p>
    <a href="https://github.com/migueloscar/ejemplobasico-FancyReporting">https://github.com/migueloscar/ejemplobasico-FancyReporting</a>
  </div>
  
</div>
